hosts.ini

.pip
dist
ssh


*.log
celerybeat-schedule
authorized_keys

celerybeat-schedule
mssql
logs/*
git
static
./applications
.env*
nginx/nginx.conf.d/auto*.conf
tmp
redis
requirements.txt 
data
.DS_Store